{% extends 'base.html.twig' %}

{% block title %}Let's send a random joke!{% endblock %}

{% block body %}

    {% for flashKey in app.session.flashBag.keys %}

        {% for flash in app.session.flashBag.get(flashKey) %}
            {{ flash }}
        {% endfor %}

    {% endfor %}

    {{ form_start(mailJokeForm) }}

        {{ form_label(mailJokeForm) }}
        {{ form_row(mailJokeForm.email) }}
        {{ form_row(mailJokeForm.category) }}
        {{ form_row(mailJokeForm.submit, { 'label': 'Send' }) }}

    {{ form_end(mailJokeForm) }}

{% endblock %}
